

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>API Keys</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{STATIC_URL}}forms.css" />
</head>

<body>
	<a href="/logout" text-align:right>Logout</a>
	<div class="header">ThreatIntel</div>

	<div class="state"><h2>{{ state }}</h2></div>
	<form action="/manage" method="post">
	<div class="box">
		{% csrf_token %}
		<label>
			<span>TITAN:</span>
			<input type="text" name="titankey" value="{{ titankey }}" /><br />
		</label>

		<label>
			<span>ICS SIE:</span>
			<input type="text" name="icskey" value="{{ icskey }}" /><br />
		</label>

		<label>
			<span>DShield:</span>
			<input type="text" name="dshieldkey" value="{{ dshieldkey }}" /><br />
		</label>
		
		<label>
			<span>CIF:</span>
			<input type="text" name="cifkey" value="{{ cifkey }}" /><br />
		</label>

		<label>
			<span>VirusTotal:</span>
			<input type="text" name="vtotkey" value="{{ vtotkey }}" /><br />
		</label>

		<label>
			<span>PhishTank:</span>
			<input type="text" name="ptankkey" value="{{ ptankkey }}" /><br />
		</label>

		<label>
			<span>ShadowServer:</span>
			<input type="text" name="sserverkey" value="{{ sserverkey }}" /><br />
		</label>

		<div class="button">
			<input type="submit" value="Submit keys" />
		</div>
		<p>Got API keys set up?<a href="/query">Continue to Query page</a></p>
	</div>
	</form>
</body>
</html>
