<!DOCTYPE html>
<html lang="en">
<head>
	<title>TILAPIA | Account</title>
	<link rel="stylesheet" href="{{STATIC_URL}}normalize.css">
	<link rel="stylesheet" href="{{STATIC_URL}}query.css">
</head>
<body>
	<header>
		<form action="/query" method="get">
			<input type="text" name="q">
			<input type="submit" value="Query">
		</form>
		<a id="logo" href="/">TILAPIA</a>
		<span id="navgroup">
			<a class="navlink" href="/manage">[account]</a>
			<a class="navlink" href="/logout">[log out]</a>
		</span>
	</header>
	<main>
		<h1>Account settings</h1>
		<form action="/manage" method="post">
			<div class="fields">
				{% csrf_token %}
				<table class="apikeys">
					{{ form.as_table }}
				</table>
			</div>
			<div class="submit">
				<input type="submit" value="Update">
			</div>
		</form>
	</main>
</body>
</html>
