<!DOCTYPE html>
<html lang="en">
<head>
	<title>Log in</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{{STATIC_URL}}forms.css" />
</head>
<body>
	<div class="header">TILAPIA</div>
	<div class="state">{{ state }}</div>
	<form action="/login/" method="post">
	<div class="box">
		{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		<label>
			<span>Username:</span>
			<input type="text" name="username" value="{{ username}}" /><br />
		</label>

		<label>
			<span>Password:</span>
			<input type="password" name="password" value="" /><br />
		</label>

		<div class="button">
			<input type="submit" value="Log In" />
		</div>
		<p>Don't have an account?<a href="/register"> Register Now</a></p>
	</div>
	</form>
</body>
</html>
