{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Query</title>
	<link rel="stylesheet" href="{{STATIC_URL}}normalize.css">
	<link rel="stylesheet" href="{{STATIC_URL}}query.css">
</head>
<body>
	<header>
		<form action="/query" method="post">
			{% csrf_token %}
			<input type="text" name="query"></input>
			<input type="submit" value="Query"></input>
		</form>
		<a id="logo" href="/">ThreatIntel</a>
		<a id="logout" href="/logout">(logout)</a>
	</header>

	<main>
	{% for api in api_info %}
    <div class="result disp{{ api|key:"disposition" }}">
            <h2>{{ api|key:"name" }}</h2>

            <table>
            {% with api|key:"facets" as facets %}
            {% for key, value in facets.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            {% endwith %}
            </table>
		</div>
    {% empty %}
        <span class="none">No Results</span>
	{% endfor %}
	</main>
</body>
</html>
