<link rel="stylesheet" href="{{STATIC_URL}}forms.css" />

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<div class="header">ThreatIntel</div>

<body>
	<div class="state">{{ state }}</div>
	<form action="/register/" method="post">
	<div class="box">
		{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		
		<label>
			<span>Username:</span>
			<input type="text" name="username" value="{{ username}}" /><br />
		</label>

		<label>
			<span>Password:</span>
			<input type="password" name="password" value="" /><br />
		</label>
		
		<label>
			<span>Email:</span>
			<input type="email" name="email" value="" /><br />
		</label>

		<div class="button">
			<input type="submit" value="Register" />
		</div>
		<p>Already have an account?<a href="/login"> Login Now</a></p>
	</div>
	</form>
</body>
</html>
