<!DOCTYPE html>
<html lang="en">
<head>
	<title>TILAPIA | Register</title>
	<link rel="stylesheet" href="{{STATIC_URL}}normalize.css">
	<link rel="stylesheet" href="{{STATIC_URL}}query.css">
</head>
<body>
	<header>
		<form action="{% url 'query' %}" method="get">
			<input type="text" name="q" {{ user.is_authenticated|yesno:",disabled" }}></input>
			<input type="submit" value="Query" {{ user.is_authenticated|yesno:",disabled" }}></input>
		</form>
		<a id="logo" href="{% url 'query' %}">TILAPIA</a>
{% if user.is_authenticated %}
		<span id="userinfo">
			{{ user.username }}
			<a class="navlink" href="{% url 'settings' %}">[settings]</a>
			<a class="navlink" href="{% url 'logout' %}">[log out]</a>
		</span>
{% endif %}
	</header>
	<main>
		<h1>Register</h1>
		<form action="{% url 'register' %}" method="post">
			<div class="fields">
				{{ form.non_field_errors }}
				<table>
{% for field in form %}
					<tr>
						<th>{{ field.label_tag }}</th>
						<td>{{ field }}</td>
{% if field.errors %}
						<td>{{ field.errors }}</td>
{% endif %}
					</tr>
{% endfor %}
				</table>
				{% csrf_token %}
{% if next %}
				<input type="hidden" name="next" value="{{ next }}">
{% endif %}
			</div>
			<div class="submit">
				<input type="submit" value="Register" />
{% if next %}
				<a href="{% url 'login' %}?next={{ next|iriencode }}">Log in</a></p>
{% else %}
				<a href="{% url 'login' %}">Log in</a></p>
{% endif %}
			</div>
		</form>
	</main>
</body>
</html>
